[workspace]
authors = ["Rohit Goswami <rgoswami@ieee.org>"]
channels = ["conda-forge"]
name = "metatrain"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
nodejs = ">=24.9.0,<24.10"
ipython = ">=9.9.0,<10"
pytorch = "<2.10"
uv = ">=0.9.28,<0.10"
pip = ">=26.0,<27"

[pypi-dependencies]
metatomic-torch = ">=0.1.7, <0.2"
