[workspace]
authors = ["Rohit Goswami <rgoswami[at]ieee.org>"]
channels = ["conda-forge", "metatensor"]
name = "atomistic-cookbook"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
gclean = { cmd = "git clean -dfx", cwd = "atomistic-cookbook"}

[tasks.nb_gen]
cwd = "atomistic-cookbook"
cmd = """
nox -e {{ example }} -- --no-website && \
mv docs/src/examples/{{ example }}/*.ipynb examples/{{ example }}
"""
args = ["example"]

[dependencies]
nox = ">=2025.5.1,<2026"
pyyaml = ">=6.0.2,<7"
docutils = ">=0.21.2,<0.22"
# TODO(rg): Add this upstream, not in requirements.txt
requests = ">=2.32.4,<3"
# These are basically to build the entire nox set

[activation.env]
UV_EXTRA_INDEX_URL = "https://download.pytorch.org/whl/cpu"
UV_INDEX_STRATEGY = "unsafe-best-match"

[environments]
# For interactive usage
jup = {features = ["jup"]}
# There's basically one per file in atomistic-cookbook/examples
lpr = {features = ["lpr", "bldbase"]}
eon-pet-neb = {features = ["eon-pet-neb", "bldbase"]}

[feature.eon-pet-neb.dependencies]
ase = ">=3.25.0,<4"
ipykernel = ">=6.30.0,<7"
eon = ">=2.8.0,<3"
nwchem = ">=7.2.3,<8"

[feature.eon-pet-neb.pypi-dependencies]
metatomic-torch = ">=0.1.5, <0.2"
metatomic = ">=0.1.0, <0.2"
metatrain = ">=2025.11, <2026"
# chemiscope = { version = "*", extras = ["explore"] }

[feature.eon-pet-neb.tasks.register-kernel]
# This one basically registers into jupyter.
# It is defined for each feature because the ipykernel needs to be the one in
# the folder's environment
cmd = """
python -m ipykernel install \
  --prefix "$(pixi r -e jup sh -c 'echo $CONDA_PREFIX')" \
  --name "pixi-$PIXI_ENVIRONMENT_NAME" \
  --display-name "Python (pixi-$PIXI_ENVIRONMENT_NAME)"
"""

[feature.eon-pet-neb.tasks.to-ipynb]
# It is defined for each feature because sphinx-gallery insists on running the
# code first before generating the ipynb files
#
# NOTE(rg): This is the only way to actually get good syntax highlighting
cwd = "atomistic-cookbook"
args = [ {"arg" = "example", "default" = "eon-pet-neb"} ]
cmd = """
python src/generate-gallery.py \
       examples/{{ example }} && \
mv docs/src/examples/{{ example }}/*.ipynb examples/{{ example }}
"""

[feature.bldbase.dependencies]
sphinx-gallery = ">=0.19.0,<0.20"
sphinx = ">=8.2.3,<9"
pillow = ">=11.3.0,<12"
matplotlib = ">=3.10.3,<4"
chemiscope = ">=0.8.6,<0.9"

[feature.lpr.dependencies]
python = "==3.11"
pip = ">=25.1.1,<26"
ipykernel = ">=6.29.5,<7"
chemiscope = ">=0.8.6,<0.9"
scikit-learn = ">=1.7.1,<2"

[feature.lpr.tasks.register-kernel]
# This one basically registers into jupyter.
# It is defined for each feature because the ipykernel needs to be the one in
# the folder's environment
cmd = """
python -m ipykernel install \
  --prefix "$(pixi r -e jup sh -c 'echo $CONDA_PREFIX')" \
  --name "pixi-$PIXI_ENVIRONMENT_NAME" \
  --display-name "Python (pixi-$PIXI_ENVIRONMENT_NAME)"
"""

[feature.lpr.tasks.to-ipynb]
# It is defined for each feature because sphinx-gallery insists on running the
# code first before generating the ipynb files
#
# NOTE(rg): This is the only way to actually get good syntax highlighting
cwd = "atomistic-cookbook"
args = [ {"arg" = "example", "default" = "lpr"} ]
cmd = """
python src/generate-gallery.py \
       examples/{{ example }} && \
mv docs/src/examples/{{ example }}/*.ipynb examples/{{ example }}
"""

[feature.lpr.pypi-dependencies]
ase = ">=3.22.1"
matplotlib = ">=3.10.3, <4"
featomic = ">=0.6.1, <0.7"
skmatter = ">=0.3"

[feature.jup.dependencies]
jupyterlab = ">=4.4.5,<5"
jupytext = ">=1.17.2,<2"
sphinx-gallery = ">=0.19.0,<0.20"
pypandoc = ">=1.15,<2"
isort = ">=6.0.1,<7"
blackdoc = ">=0.4.1,<0.5"

[feature.jup.tasks.nbfmt]
cwd = "atomistic-cookbook"
cmd = """
nox -e format
"""

[feature.jup.tasks.py-sphinx]
args = ["example"]
depends-on = [{ "task" = "nbfmt", "args" = ["{{example}}"]}]
cwd = "atomistic-cookbook"
cmd = """
python src/ipynb-to-gallery.py \
       examples/{{ example }}/*.ipynb
"""

[feature.jup.tasks.serve]
depends-on = [
# { task = "to-ipynb", environment = "lpr" },
# { task = "register-kernel", environment = "lpr" },

# { task = "to-ipynb", environment = "eon-pet-neb" },
{ task = "register-kernel", environment = "eon-pet-neb" },
]
cwd = "atomistic-cookbook"
args = [ {"arg" = "port", "default" = "8889"} ]
cmd = """
jupyter lab --ServerApp.allow_remote_access=1 \
  --ServerApp.open_browser=False \
  --ContentsManager.allow_hidden=True \
  --port={{ port }}
"""
