[workspace]
authors = ["Rohit Goswami <rgoswami@ieee.org>"]
channels = ["conda-forge"]
name = "metatensor"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
sccache = ">=0.10.0,<0.11"

[dependencies]

[feature.cuda.dependencies]
cuda-toolkit = ">=13.1.0,<14"
cuda-compiler = ">=13.0.1,<14"
cuda-libraries-dev = ">=13.0.1,<14"
cuda-version = ">=13.0,<14"
cuda-nvcc = ">=13.1.80,<14"
cuda-cudart-dev = ">=13.1.80,<14"
cuda-driver-dev = ">=13.1.80,<14"

[environments]
cuda = {features = ["pybase", "cuda"]}
nocuda = {features = ["pybase", "nocuda"]}

[feature.nocuda.activation]
env = { CUDA_VISIBLE_DEVICES = "" }

[feature.nocuda.pypi-options]
extra-index-urls = ["https://download.pytorch.org/whl/cpu"]

[feature.pybase.dependencies]
python = ">=3.12,<3.13"
pip = ">=25.2,<26"
pycparser = ">=2.22,<3"
