[workspace]
authors = ["Rohit Goswami <rohit.goswami@epfl.ch>"]
# "nvidia", "metatensor"
channels = ["conda-forge"]
name = "gromacs"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
[tasks.syncer]
cwd = "."
args = ["direction", {arg = "hostname", default = "rg.cosmolab"}, ]
cmd = """
bash scripts/sync.sh {{ direction }} {{ hostname }}
"""

[feature.metatomic.tasks.gromk-tmpi]
cwd = "gromacs"
args = [{arg = "buildtype", default = "Release"}]
cmd = """
SUFFIX="cpu" && \
CUDA_FLAGS="" && \
if command -v nvcc &>/dev/null; then \
  SUFFIX="cuda"; \
  CUDA_FLAGS="-D GPU_DEVICE=CUDA -D CMAKE_CUDA_ARCHITECTURES=80 -D TORCH_CUDA_ARCH_LIST=8.0;8.6"; \
fi && \
BUILDDIR="build-tmpi-$SUFFIX" && \
mkdir -p $BUILDDIR && cd $BUILDDIR && \
export TORCH_PREFIX=$(python -c "import torch; print(torch.utils.cmake_prefix_path)") && \
export MTS_PREFIX=$(python -c "import metatensor; print(metatensor.utils.cmake_prefix_path)") && \
export MTS_TORCH_PREFIX=$(python -c "import metatensor.torch; print(metatensor.torch.utils.cmake_prefix_path)") && \
export MTA_TORCH_PREFIX=$(python -c "import metatomic.torch; print(metatomic.torch.utils.cmake_prefix_path)") && \
export CMAKE_PREFIX_PATH="$TORCH_PREFIX;$MTS_PREFIX;$MTS_TORCH_PREFIX;$MTA_TORCH_PREFIX" && \
cmake .. \
-D GMX_BUILD_OWN_FFTW=OFF \
-D GMX_MPI=OFF \
-D GMX_METATOMIC=AUTO \
-D DOWNLOAD_VESIN=ON \
-D BUILD_TESTING=ON \
-D CMAKE_BUILD_TYPE={{ buildtype }} \
-D CMAKE_CXX_COMPILER_LAUNCHER=sccache \
-D CMAKE_C_COMPILER_LAUNCHER=sccache \
-D CMAKE_PREFIX_PATH=$CMAKE_PREFIX_PATH \
$CUDA_FLAGS && \
cmake --build . --parallel $(nproc) && \
cmake install . --install-prefix $CONDA_PREFIX && \
cmake --build . --target install
"""

[feature.metatomic.tasks.gromk-mpi]
cwd = "gromacs"
args = [{arg = "buildtype", default = "Release"}]
cmd = """
SUFFIX="cpu" && \
CUDA_FLAGS="" && \
if command -v nvcc &>/dev/null; then \
  SUFFIX="cuda"; \
  CUDA_FLAGS="-D GPU_DEVICE=CUDA -D CMAKE_CUDA_ARCHITECTURES=80 -D TORCH_CUDA_ARCH_LIST=8.0;8.6"; \
fi && \
BUILDDIR="build-mpi-$SUFFIX" && \
mkdir -p $BUILDDIR && cd $BUILDDIR && \
export TORCH_PREFIX=$(python -c "import torch; print(torch.utils.cmake_prefix_path)") && \
export MTS_PREFIX=$(python -c "import metatensor; print(metatensor.utils.cmake_prefix_path)") && \
export MTS_TORCH_PREFIX=$(python -c "import metatensor.torch; print(metatensor.torch.utils.cmake_prefix_path)") && \
export MTA_TORCH_PREFIX=$(python -c "import metatomic.torch; print(metatomic.torch.utils.cmake_prefix_path)") && \
export CMAKE_PREFIX_PATH="$TORCH_PREFIX;$MTS_PREFIX;$MTS_TORCH_PREFIX;$MTA_TORCH_PREFIX" && \
cmake .. \
-D GMX_BUILD_OWN_FFTW=OFF \
-D GMX_MPI=ON \
-D GMX_METATOMIC=AUTO \
-D DOWNLOAD_VESIN=ON \
-D BUILD_TESTING=ON \
-D CMAKE_BUILD_TYPE={{ buildtype }} \
-D CMAKE_CXX_COMPILER_LAUNCHER=sccache \
-D CMAKE_C_COMPILER_LAUNCHER=sccache \
-D CMAKE_PREFIX_PATH=$CMAKE_PREFIX_PATH \
$CUDA_FLAGS && \
cmake --build . --parallel $(nproc) && \
cmake install . --install-prefix $CONDA_PREFIX && \
cmake --build . --target install
"""

[dependencies]
cmake = ">=4.1.1,<5"
fftw = ">=3.3.10,<4"
openblas = ">=0.3.30,<0.4"
sccache = ">=0.10.0,<0.11"
openmpi = ">=5.0.8,<6"
pkg-config = ">=0.29.2,<0.30"
pkgconf = ">=2.5.1,<3"
pytest = ">=9.0.2,<10"

[environments]
metatomic-cuda = {features = ["metatomic", "pybase", "cuda"]}
metatomic-cpu = {features = ["metatomic", "pybase"]}
feedstock = {features = ["feedstock"]}

[feature.metatomic.pypi-dependencies]
vesin = ">=0.4.2, <0.5"
torch = ">=2.7.0, <2.8"
metatomic-torch = ">=0.1.4, <0.2"
metatomic-lj-test = { git = "https://github.com/metatensor/lj-test" }

[feature.cuda.dependencies]
cuda-compiler = ">=13.0.1,<14"
cuda-libraries-dev = ">=13.0.1,<14"
cuda-version = ">=13.0,<14"

[feature.metatomic.dependencies]
mkl = ">=2025.2.0,<2026"

[feature.pybase.dependencies]
python = ">=3.12,<3.13"
pip = ">=25.2,<26"

[feature.feedstock.dependencies]
conda-smithy = ">=3.54.2,<4"
conda = ">=25.11.1,<26"
